In [6]:
import pandas as pd
import numpy as np

In [32]:
dfPath = "/home/alextay96/Desktop/workspace/dmg_price/data/complete_encoded.csv"
df = pd.read_csv(dfPath)
df.head()

,Unnamed: 0.1,Unnamed: 0,Model,Make,CaseID,Vehicle_Model,DamageLoss_Type,Reason_Flag,NCB_Stat,Car_Age,...,enc_Vehicle_Type,enc_Claim_Type,enc_Collision_With,enc_Loss_State,enc_Third_Party_Involved,enc_Vehicle_Still_Driveable,enc_DamageLoss_Type,enc_Initial_Estimation,enc_Handling_Insurer,enc_Condition_Of_Damage
0,0,0,Ranger 2015 On,FORD,10198027,FORD Ranger 2015 On Dr Pickup Dbl.Cab 2.2 TD X...,Collision,Payment Settled,0,3.0,...,41,4,9,17,1,1,0,13,23,0
1,1,1,Axia 2014 On,PERODUA,10198029,PERODUA Axia 2014 On 5 Dr Hatch 1.0 E 67Bhp (M...,Collision,Payment Settled,0,0.0,...,26,4,9,11,1,0,0,0,27,0
2,2,2,City 2014 On,HONDA,10198144,HONDA City 2014 On 4 Dr Sal 1.5 V AUTO 118Bhp ...,Collision,Payment Settled,1,5.0,...,47,1,6,12,1,1,0,0,3,0
3,3,3,Wira 1993 On,PROTON,10198362,PROTON Wira 1993 On 4 Dr Sal 1.5 GL 86Bhp (M) ...,Collision,Payment Settled,1,10.0,...,47,6,9,13,0,2,0,22,8,0
4,4,4,Vios 2007 On,TOYOTA,10198035,TOYOTA Vios 2007 On 4 Dr Sal 1.5 G (NCP93R) AU...,Collision,Payment Settled,0,12.0,...,47,4,9,16,1,1,0,17,13,0

In [42]:
df2 = df.groupby(["Vehicle_Type", "Model"])["CaseID"].count().sort_values(ascending=False).iloc[:100]
df2.head(100)

Vehicle_Type           Model
Hatchback - 5 Dr       Myvi 2011 On         31679
                       Axia 2014 To 2019    26118
MPV                    Alza 2009 On         22458
Saloon - 4 Dr          City 2014 On         21979
Hatchback - 5 Dr       Myvi 2005 On         20965
                                            ...
SUV - 5 Dr             X50 2020 On            934
Pickup - 4 Dr Dbl.Cab  Navara 2015 On         906
Saloon - 4 Dr          E-Class 2009 On        898
MPV                    Serena 2011 On         889
SUV - 5 Dr             CX-5 2017 On           888
Name: CaseID, Length: 100, dtype: int64

In [44]:
df["model_name"] = df["Model"].apply(lambda x : x.split(" ")[0])
df2 = df.groupby(["Vehicle_Type", "model_name"])["CaseID"].count().sort_values(ascending=False)

df2.head(50)

Vehicle_Type           model_name
Hatchback - 5 Dr       Myvi          75889
Saloon - 4 Dr          Saga          38828
Hatchback - 5 Dr       Axia          33971
Saloon - 4 Dr          Vios          33804
                       City          31909
                       Bezza         27626
MPV                    Alza          22458
Saloon - 4 Dr          Persona       18147
Pickup - 4 Dr Dbl.Cab  Hilux         15435
Hatchback - 5 Dr       Viva          14154
Saloon - 4 Dr          Civic         11405
                       Almera        10594
Hatchback - 5 Dr       Jazz           8299
SUV - 5 Dr             HR-V           8143
MPV                    Avanza         7114
Saloon - 4 Dr          Camry          6295
SUV - 5 Dr             CR-V           6149
Saloon - 4 Dr          Corolla        6123
                       Waja           5687
MPV                    Exora          5665
Saloon - 4 Dr          Accord         5425
                       Wira           5133
MPV                    Grand          4831
SUV - 5 Dr             CX-5           4450
Hatchback - 5 Dr       Iriz           4216
SUV - 5 Dr             Aruz           3857
Pickup - 4 Dr Dbl.Cab  Triton         3778
Hatchback - 5 Dr       Kelisa         3768
MPV                    Innova         3696
SUV - 5 Dr             X70            3508
Pickup - 4 Dr Dbl.Cab  Ranger         3277
Hatchback - 5 Dr       Kancil         3234
Saloon - 4 Dr          Preve          3208
Hatchback - 5 Dr       Wira           3171
Pickup - 4 Dr Dbl.Cab  D-MAX          3109
SUV - 5 Dr             X-Trail        3090
Pickup - 4 Dr Dbl.Cab  Navara         3078
Hatchback - 5 Dr       Iswara         2947
                       Yaris          2866
Saloon - 4 Dr          3-Series       2847
SUV - 5 Dr             BR-V           2674
MPV                    VELLFIRE       2529
                       Serena         2312
                       ESTIMA         2172
Pickup - 2 Dr          Hilux          2059
Saloon - 4 Dr          Sentra         1994
MPV                    WISH           1963
Saloon - 4 Dr          E-Class        1958
Van                    Hiace          1945
Saloon - 4 Dr          5-Series       1940
Name: CaseID, dtype: int64

In [43]:
import glob
srcDir = "/home/alextay96/Desktop/workspace/mrm_workspace/dmg_consistent_detection/data/filesmetadata"
allPath = glob.glob(f"{srcDir}/**/*.csv", recursive=True)
allDf = []
for i in allPath:
    allDf.append(pd.read_csv(i))
dd = pd.concat(allDf)
dd.to_csv("./selected.csv")

KeyboardInterrupt:

In [49]:
df = pd.read_csv("/home/alextay96/Desktop/workspace/mrm_workspace/dmg_consistent_detection/data/filesmetadata/selected.csv", low_memory=False)
# df.dropna(inplace=True)
df2 = pd.read_csv( "/home/alextay96/Desktop/workspace/dmg_price/data/complete_encoded.csv")
df3 = pd.read_csv("/home/alextay96/Desktop/workspace/dmg_price/download_task.csv")
df = df.merge(df2, on="CaseID")
df = df.merge(df3[["CaseID","cost_pg_front", "cost_pg_rear"]], on="CaseID")

df["CaseID"] = df["CaseID"].astype(np.int64)
df.columns
vt = ["Saloon - 4 Dr", "Hatchback - 5 Dr", "SUV - 5 Dr", "MPV", "Pickup - 4 Dr Dbl.Cab"]
df = df[df["Vehicle_Type"].isin(vt)]
print(df.groupby("Vehicle_Type")["CaseID"].count().sort_values(ascending=False))
df["FinalDate"] = pd.to_datetime(df["FinalDate"])
df = df.sort_values("FinalDate", ascending=True).groupby(["CaseID", "StdDocDesc"]).head(1)
df = df.groupby(["Model", "cost_pg_front", "cost_pg_rear"]).head(20)

df = df.sort_values(["cost_pg_front", "cost_pg_rear"], ascending=False)
df = df[["Vehicle_Type", "Model", "StdDocDesc", "CaseID", "FinalDate", "cost_pg_front", "cost_pg_rear", "iDOCID"]]
print(df.head(50))
df.to_csv("./tasks.csv")

Vehicle_Type
Saloon - 4 Dr            67974
SUV - 5 Dr               27587
Hatchback - 5 Dr         26888
MPV                      20409
Pickup - 4 Dr Dbl.Cab    14474
Name: CaseID, dtype: int64
                Vehicle_Type                 Model  StdDocDesc    CaseID  \
289         Hatchback - 5 Dr          Myvi 2017 On  Front View  10199813
290         Hatchback - 5 Dr          Myvi 2017 On   Rear View  10199813
3823                     MPV        Innova 2005 On  Front View  10217340
7404        Hatchback - 5 Dr         Swift 2005 On  Front View  10231456
7405        Hatchback - 5 Dr         Swift 2005 On   Rear View  10231456
12430                    MPV        Avanza 2004 On  Front View  10252404
12431                    MPV        Avanza 2004 On   Rear View  10252404
13900       Hatchback - 5 Dr          Myvi 2017 On   Rear View  10258253
14607          Saloon - 4 Dr          Vios 2007 On  Front View  10261591
14608          Saloon - 4 Dr          Vios 2007 On   Rear View  10261591
23851          Saloon - 4 Dr          Waja 2000 On  Front View  10304263
26255  Pickup - 4 Dr Dbl.Cab        Triton 2006 On   Rear View  10315538
26256  Pickup - 4 Dr Dbl.Cab        Triton 2006 On  Front View  10315538
12202  Pickup - 4 Dr Dbl.Cab         Hilux 2005 On   Rear View  10251443
12203  Pickup - 4 Dr Dbl.Cab         Hilux 2005 On  Front View  10251443
23342          Saloon - 4 Dr          Vios 2007 On  Front View  10302744
22953          Saloon - 4 Dr          City 2014 On  Front View  10301419
22954          Saloon - 4 Dr          City 2014 On   Rear View  10301419
28874          Saloon - 4 Dr        Almera 2015 On  Front View  10329328
28875          Saloon - 4 Dr        Almera 2015 On   Rear View  10329328
23554          Saloon - 4 Dr        Lancer 2007 On  Front View  10303407
23555          Saloon - 4 Dr        Lancer 2007 On   Rear View  10303407
32674                    MPV  Grand Livina 2007 On  Front View  10348068
32675                    MPV  Grand Livina 2007 On   Rear View  10348068
29447          Saloon - 4 Dr  Persona 2007 To 2016  Front View  10332627
29449          Saloon - 4 Dr  Persona 2007 To 2016   Rear View  10332627
33002          Saloon - 4 Dr        Cerato 2013 On  Front View  10349649
33005          Saloon - 4 Dr        Cerato 2013 On   Rear View  10349649
30883          Saloon - 4 Dr             3 2014 On  Front View  10339810
30884          Saloon - 4 Dr             3 2014 On   Rear View  10339810
29031          Saloon - 4 Dr        Sentra 1995 On  Front View  10330190
37171  Pickup - 4 Dr Dbl.Cab         D-MAX 2005 On  Front View  10372489
37172  Pickup - 4 Dr Dbl.Cab         D-MAX 2005 On   Rear View  10372489
31027          Saloon - 4 Dr       Inspira 2010 On  Front View  10340341
31029          Saloon - 4 Dr       Inspira 2010 On   Rear View  10340341
30738                    MPV                  WISH  Front View  10339019
30739                    MPV                  WISH   Rear View  10339019
34880          Saloon - 4 Dr          Vios 2007 On  Front View  10360445
34882          Saloon - 4 Dr          Vios 2007 On   Rear View  10360445
40094          Saloon - 4 Dr          City 2005 On  Front View  10393674
40096          Saloon - 4 Dr          City 2005 On   Rear View  10393674
26912                    MPV        Avanza 2004 On  Front View  10319141
26913                    MPV        Avanza 2004 On   Rear View  10319141
43871          Saloon - 4 Dr  Persona 2007 To 2016   Rear View  10419227
43872          Saloon - 4 Dr  Persona 2007 To 2016  Front View  10419227
44820          Saloon - 4 Dr          Vios 2007 On   Rear View  10424726
38655  Pickup - 4 Dr Dbl.Cab         Hilux 2005 On   Rear View  10383417
38656  Pickup - 4 Dr Dbl.Cab         Hilux 2005 On  Front View  10383417
43823          Saloon - 4 Dr         Civic 2012 On  Front View  10418823
43824          Saloon - 4 Dr         Civic 2012 On   Rear View  10418823

                             FinalDate  cost_pg_front  cost_pg_rear     iDOCID
289   2019-09-25 13:49:40.887000+00:00              2             2  447374373
290   2019-09-25 13:49:50.830000+00:00              2             2  447374413
3823  2019-09-30 09:44:37.777000+00:00              2             2  448182970
7404  2019-10-02 17:27:42.970000+00:00              2             2  448854982
7405  2019-10-02 17:27:43.377000+00:00              2             2  448854986
12430 2019-10-09 10:43:27.653000+00:00              2             2  450108941
12431 2019-10-09 10:43:38.707000+00:00              2             2  450108985
13900 2019-10-10 11:53:47.490000+00:00              2             2  450403964
14607 2019-10-16 15:38:25.113000+00:00              2             2  451669004
14608 2019-10-16 15:38:31.443000+00:00              2             2  451669071
23851 2019-10-22 17:06:00.900000+00:00              2             2  452926192
26255 2019-10-24 10:36:20.510000+00:00              2             2  453325549
26256 2019-10-24 10:36:21.623000+00:00              2             2  453325561
12202 2019-10-24 13:11:42.820000+00:00              2             2  453379480
12203 2019-10-24 13:11:43.673000+00:00              2             2  453379487
23342 2019-10-24 17:57:40.430000+00:00              2             2  453494373
22953 2019-10-26 19:01:07.670000+00:00              2             2  453879458
22954 2019-10-26 19:01:15.450000+00:00              2             2  453879519
28874 2019-10-30 10:39:05.397000+00:00              2             2  454247149
28875 2019-10-30 10:39:18.580000+00:00              2             2  454247239
23554 2019-10-30 15:15:57.733000+00:00              2             2  454346175
23555 2019-10-30 15:16:04.133000+00:00              2             2  454346271
32674 2019-11-01 10:38:29.430000+00:00              2             2  454781012
32675 2019-11-01 10:38:29.947000+00:00              2             2  454781016
29447 2019-11-02 13:21:32.843000+00:00              2             2  455032932
29449 2019-11-02 13:21:32.940000+00:00              2             2  455032934
33002 2019-11-02 14:11:13.407000+00:00              2             2  455038959
33005 2019-11-02 14:14:28.060000+00:00              2             2  455039366
30883 2019-11-02 14:20:59.817000+00:00              2             2  455040573
30884 2019-11-02 14:25:37.780000+00:00              2             2  455041230
29031 2019-11-04 19:32:41.470000+00:00              2             2  455349072
37171 2019-11-07 12:22:46.910000+00:00              2             2  456046930
37172 2019-11-07 12:22:56.147000+00:00              2             2  456046986
31027 2019-11-07 14:28:59.673000+00:00              2             2  456081191
31029 2019-11-07 14:29:08.340000+00:00              2             2  456081293
30738 2019-11-10 16:13:24.060000+00:00              2             2  456572474
30739 2019-11-10 16:13:27.957000+00:00              2             2  456572542
34880 2019-11-11 22:06:46.523000+00:00              2             2  456839770
34882 2019-11-11 22:08:07.673000+00:00              2             2  456839888
40094 2019-11-17 23:27:08.253000+00:00              2             2  458037689
40096 2019-11-17 23:27:09.457000+00:00              2             2  458037691
26912 2019-11-18 19:56:28.517000+00:00              2             2  458262459
26913 2019-11-18 20:07:05.127000+00:00              2             2  458263546
43871 2019-11-19 17:35:52.677000+00:00              2             2  458494153
43872 2019-11-19 17:35:55.763000+00:00              2             2  458494161
44820 2019-11-21 12:59:13.957000+00:00              2             2  458914661
38655 2019-11-21 21:41:21.623000+00:00              2             2  459068496
38656 2019-11-21 21:43:45.620000+00:00              2             2  459068852
43823 2019-11-22 02:41:34.437000+00:00              2             2  459086741
43824 2019-11-22 03:10:31.347000+00:00              2             2  459087205

In [63]:
df = pd.read_csv( "/home/alextay96/Desktop/workspace/dmg_price/data/complete_encoded.csv")
df = df[df["Model"].str.contains("City")]
stdView = df.groupby(["Model"], as_index=False)["Sum_Insured"].std().rename(columns={'Sum_Insured':'std'})
meanView = df.groupby(["Model"], as_index=False)["Sum_Insured"].mean().rename(columns={'Sum_Insured':'mean'})
df2 = pd.concat([meanView, stdView],axis=1)

df2.head(30)

               Model   Sum_Insured              Model   Sum_Insured
0       City 1996 On  12595.454545       City 1996 On  14751.932150
1  City 1996 To 1997  15357.142857  City 1996 To 1997  18504.083303
2  City 1999 To 2003  11568.965517  City 1999 To 2003   8629.025008
3  City 2003 To 2005  14452.334559  City 2003 To 2005   2760.251455
4  City 2004 To 2005  17053.563218  City 2004 To 2005   7480.619983
5       City 2005 On  19087.647300       City 2005 On   4618.337565
6       City 2008 On  32106.746350       City 2008 On   7036.513716
7       City 2014 On  56773.362673       City 2014 On  15211.968174
8       City 2020 On  79062.621359       City 2020 On  10661.065121